:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: 10, 0, 65;
  --primary-muted: 16, 20, 31;
  --secondary: 255, 153, 0;
  --background-veil: 0, 0, 0, 0.5;
}
